.DeckInfoItems {
  display: flex;
  flex-direction: column;
  background-color: #f3d796;
  border: solid rgb(243, 215, 150) .25vw;
  border: solid lime .25vw;
  margin: 1vw;
  width: 30vw;
  border-radius: 3%;
  filter: drop-shadow(5px 5px 4px darkgrey);
}

.DeckInfoItems > a {
  text-decoration: none;
  color: black
}

.DeckInfoItems > a:hover {
  color: white;
  background-color: #29c089;
  /* border: solid lime .25vw; */
}

/* Link {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  width: 30vw;
  border-radius: 3%;
} */