.DeckInfoItems {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border: solid lime .25vw;
  margin-bottom: 1vw;
  width: 30vw;
  border-radius: 3%;
  filter: drop-shadow(5px 5px 4px darkgrey);
}

.DeckInfoItems > a {
  text-decoration: none;
  color: black
}

.DeckInfoItems > a:hover {
  color: white;
  background-color: #29c089;
}