form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;

}

.NewCardPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DeckItems > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}