.FlashCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 50vw;
  background-color: #f3d796;
  border: solid lime 1px;
  border-radius: 5%;
}

.FlashCardSideOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgb(177, 154, 123);
  width: 28vw;
  height: 10vw;
  background-color: #f0e5cd;
  border: solid lime 1px;
  border-radius: 5%;
  padding: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.winCheckResponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: 5vw;
  border-radius: 5%;
  padding: 1vw;
}


.FlashCardSideTwo {
  width: 28vw;
  background-color: #f0e5cd;
  border: solid lime 1px;
  border-radius: 5%;
  padding: 1vw;
  height: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AnswerForm > form {
  width: 30vw;
}

.AnswerForm {
  width: 30vw;
  margin-top: 3vw;
}

input {
  width: 25vw;
  width: 28vw;
}
button {
  width: 28vw;
  margin-bottom: 3vw;
}