li {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  margin: 0 0 .2vw 0;
  border-radius: 5%;
  filter: drop-shadow(1px 1px 2px rgb(58, 58, 58));
  background-color: var(--card-item);
  padding: .2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li > a {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  text-decoration: none;
  text-decoration: none;
  color: black;
  
}

li > a:hover {
  color: white;
  background-color: #29c089;
}
.DeckCardListItemButtons {
  display: flex;
  direction: row;
}

.DeckCardListItemButtons > div {
  margin: 0 .5vw 0 .5vw ;
}

.DeckCardListItemUpdate {
  margin: .5vw;
  width: 10vw;
}
.DeckCardListItemDelete {
  background-color: rgb(195, 23, 23);
  margin: .5vw;
  width: 10vw;
}

form {
  margin: 0;
  width: 100%;
}

input {
  width: 30vw;
}