.DeckCardLi {
  width: 30vw;
  margin: 0 0 .5vh 0;
  border-radius: 5%;
  filter: drop-shadow(1px 1px 2px rgb(186, 186, 186));
  background-color: var(--card-item);
  padding: .2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DeckCardLi > a {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  text-decoration: none;
  text-decoration: none;
  color: black;
  
}

.DeckCardLi > a:hover {
  color: white;
  background-color: #29c089;
}

.DeckCardListItemButtons {
  display: flex;
  direction: row;
}

.DeckCardListItemButtons > div {
  margin: 0 .5vw 0 .5vw ;
}

.DeckCardListItemUpdate {
  margin: .5vw;
  width: 10vw;
}
.DeckCardListItemDelete {
  background-color: rgb(195, 23, 23);
  margin: .5vw;
  width: 10vw;
}

input {
  width: 25vw;
  height: 10vh;
}

.DeckCardListItemsRow {
  width: 25vw;
  height: 10vh;
}

.DeckCardLi form {
  width: 30vw;
}