form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
}

.NewDeck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewDeckForm > input {
  height: 4vw;
  font-size: 3vw;
}

.NewDeckForm > button {
  font-size: 2vw;
}