.DeckDetailPage {
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto; */
}

.DeckDetails {
  display: flex;
  flex-direction: column;
  background-color: #f3d796;
  border: solid lime .25vw;
  margin-bottom: 1vw;
  width: 30vw;
  border-radius: 3%;
  filter: drop-shadow(2px 2px 1px darkgrey);
  grid-column-start: 3;
  grid-row: 1;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid lime .25vw;
  background-color: #f3d796;;
  margin-bottom: 1vw;
  width: 30vw;
  border-radius: 3%;
  filter: drop-shadow(2px 2px 1px darkgrey);
  grid-column-start: 8;
  grid-row: 1;
}



h2 {
  margin: .3vw 0 0 0;
}